h3, p{
    font-family: 'Nunito', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}

.img-cont{
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)), url("img/bg11.jpg");
    background-attachment: fixed;
} 
.contenitore-2{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url("img/bg1.jpg");
    background-attachment: fixed;
}
.contenitore-3{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url("img/bg2.jpg");
    background-attachment: fixed;
}
.contenitore-4{
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.8)), url("img/bg11.jpg");
    background-attachment: fixed;
}
.title{
    font-size: 80px;
    margin-top: 150px;
}
.navbar{
    z-index: 9999 ;
}
.margin-personalized{
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color:red;
}
i{
    color:white;
}
input, textarea{
    background: rgba(0,0,0,.3) !important;
    color: white !important;
    font-size: 12px !important;
}

.contenitore-titolo{
    background:rgba(0,0,0,.7);
    height: 80px;
    padding-top: 15px;
}
.bg-custom{
    background:rgba(0,0,0,1);
}

.card{
    /* border-radius: 40px solid red !important; */
    background: rgba(0,0,0,.4);
}
.text-custom{
    color:#dc3545;
}
.personal-container{
    width: max-content;
    background-color: rgba(0,0,0,.3);
    border: 1px solid red;
    border-radius: 20px;
}
.border-radius{
    border-radius: 20px !important;
}


/* ANIMAZIONE */
.scale-up-center{-webkit-animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-center 2s cubic-bezier(.39,.575,.565,1.000) both}
@-webkit-keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}

/* NAVABAR */
/* USING BOOTSTRAP 3.0.3 */

/* .toggle{
    position: absolute;
    top:10vh;
    right: 20vh;
    color:white;
    z-index: 9999;
} */

@media screen and ( max-width:768px){
    .toggle{
        display: none;
    }
}

.scale-up-hor-left {
	-webkit-animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      -webkit-transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
  }

 
  

